:root {
  --white: #FFFFFF;
  --primary: #FF3F3A;
  --secondary: #FFCF2D;
  --success: #03CEA4;
  --danger: #FF4242;
  --info: #5A87FC;
  --gray--900: #1E212C;
  --gray--800: #424551;
  --gray--700: #787A80;
  --gray--600: #9A9CA5;
  --gray--500: #B3B7BC;
  --gray--400: #D7DADD;
  --gray--300: #E5E8ED;
  --gray--200: #F4F5F6;
  --btn-gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  --shadow--small: 0px 4px 4px rgba(30, 33, 44, 0.03), 0px 12px 10px rgba(154, 156, 165, 0.04), 0px 30px 24px rgba(154, 156, 165, 0.05), 0px 80px 80px rgba(154, 156, 165, 0.08);
  --shadow--regular: 0px 4px 4px rgba(30, 33, 44, 0.05), 0px 12px 10px rgba(154, 156, 165, 0.08), 0px 30px 24px rgba(154, 156, 165, 0.1), 0px 80px 80px rgba(154, 156, 165, 0.16);
  --shadow--large: 0px 4px 4px rgba(30, 33, 44, 0.05), 0px 12px 10px rgba(30, 33, 44, 0.08), 0px 26px 24px rgba(30, 33, 44, 0.1), 0px 60px 80px rgba(30, 33, 44, 0.16);
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--gray--800);
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay--show {
  visibility: visible;
  opacity: .5;
}

.burger {
  display: none;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  padding: 0 40px;
  line-height: 325%;
  color: var(--white);
  border-radius: 4px;
  white-space: nowrap;
  transition: .3s;
  background: var(--btn-gradient);
  font-weight: 700;
}

.ghost--button {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logo {}

.heading {
  color: var(--gray--900);
}

.heading__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.main__certificate {
  margin-bottom: -46px;
}

.main__team {
  background: url("../images/background-shapes/team-bg.svg") 110% 11% no-repeat, var(--gray--200);
  padding: 166px 0 0;
}

.main__testimonials {
  padding: 160px 0 195px;
}

.main__companies {
  padding-bottom: 152px;
}

.main__program {
  padding: 116px 0 186px;
}

.main__blog {
  padding-bottom: 200px;
}

.main__info {
  padding-bottom: 180px;
}

.main__questions {
  padding-bottom: 180px;
}

/* =================================================================== */
/* =================================================================== */
/* ========================HEADER================================= */

.header {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 100vh;
  background: url(../images/background-shapes/shapes-bg.svg) 50% 30% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%)
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  white-space: nowrap;
  line-height: 1.6;
  transition: all .3s ease-in-out;
}

.header__nav-link:hover {
  color: var(--primary);
}

.header__btn-box {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
  transition: all .3s ease-in-out;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
}

.header__user-nav:hover {
  color: var(--primary);
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../images/icons/profile-icon.svg) no-repeat;
}


/* HEADER */

.header__main,
.header__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray--900);
}

.header__body {
  flex: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.header__play svg {
  transition: .3s;
  border-radius: 50%;
}

.header__play svg:hover {
  box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
}

.header__title,
.header__stats-item span,
.about__numbers-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
}

.header__title {
  font-size: 64px;
}

.header__content-buttons {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}

.header__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 80px;
}

.header__stats>span {
  min-height: 8px;
  min-width: 8px;
  background-color: var(--primary);
  border-radius: 50%;
}

.header__stats-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ABOUT US */

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
  gap: 30px;
}

.about__createx::before {
  content: '';
  position: absolute;
  top: -60px;
  right: -180px;
  width: 100px;
  height: 85px;
  background-image: url("../images/background-shapes/shapes-1.svg");
}

.about__createx-content {
  max-width: 600px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  line-height: 160%;
  color: var(--gray--800);
}

.about__paragraph--lead {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray--900);
  margin-bottom: 24px;
}

.about__btn-box {
  display: flex;
  gap: 24px;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  overflow: hidden;
  border-radius: 4px;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 30px;
  align-self: center;
  white-space: nowrap;
}

.about__numbers-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  color: var(--gray--900);
}

.about__numbers-item span {
  color: var(--primary);
}


/* OUR MAIN DIRECTIONS */

.directions__inner {
  position: relative;
}

.directions__inner::before {
  position: absolute;
  display: block;
  content: '';
  top: 30px;
  left: -220px;
  width: 136px;
  height: 115px;
  background: url('../images/background-shapes/shapes-2.svg') 0 0 no-repeat;
}

.directions__inner::after {
  position: absolute;
  display: block;
  content: '';
  right: -460px;
  top: 400px;
  width: 243px;
  height: 243px;
  background: url("../images/background-shapes/shapes-3.svg");
}

.directions__heading {
  margin-bottom: 90px;
  text-align: center;
}

.directions__button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 42px;
  margin-bottom: 56px;
}

.directions__filter-btn,
.directions__link-tag,
.directions__link-btn {
  font-size: inherit;
  font-weight: 700;
  line-height: 160%;
  padding: 0px 8px 1px;
  background-color: transparent;
  border-radius: 4px;
  white-space: nowrap;
}

.directions__filter-btn {
  border: 1px solid var(--gray--600);
  color: var(--gray--600);
}

.directions__filter-btn--active {
  color: var(--white);
  background: var(--btn-gradient);
  padding: 1px 9px 2px;
  border: none;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-link {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  transition: all .3s ease-in;
}

.directions__list-link:hover {
  box-shadow: var(--shadow--small);
  transform: translateY(-4px);
}

.directions__image-box img {
  width: 100%;
  height: 100%;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray--300);
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.directions__link-tag {
  color: var(--white);
  background-color: grey;
  align-self: flex-start;
}

.directions__link-text {
  color: var(--gray--700);
  padding: 20px 0;
  line-height: 160%;
}

.directions__link-btn {
  color: var(--gray--900);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all .3s ease-in-out;
}

.directions__link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right.svg") 0 1px / 100% no-repeat;
}

.directions__link-btn:hover {
  cursor: pointer;
  color: var(--primary);
}

.directions__list-item--empty {
  display: flex;
  align-items: center;

  justify-content: center;
  background-color: var(--gray--200);
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--gray--800);
}

.directions__list-item--empty>span {
  max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.directions__list-item--management .directions__link-tag {
  background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
  background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
  background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
  background-color: #7772F1;
}

/* ==================================================================== */
/* ==================================================================== */
/* CERTIFICATE  */

.certificate__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.certificate__inner::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -200px;
  width: 60px;
  height: 60px;
  background: url("../images/background-shapes/shapes-4.svg") 0 0 no-repeat;
}

.certificate__content {
  max-width: 400px;
}

.certificate__heading {
  margin-bottom: 50px;
}

.certificate__text {
  color: var(--gray--800);
  margin-bottom: 30px;
}

.certificate__logos {
  display: flex;
  gap: 10px 40px;
}

.certificate__image-box img {
  height: 500px;
  width: 705px;
  border: 1px solid var(--gray--300);
  box-shadow: var(--shadow--regular);
  border-radius: 4px;
}


/* =============================================================== */
/* TEAM */
/* ================================================================ */

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.team__slider-arrows-item {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

.team__slider-arrows-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--primary);
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.team__slider-arrows-item path {
  transition: all .3s;
}

.team__slider-arrows-item:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-arrows-item:hover path {
  fill: var(--white);
}

.team__slider-prev {
  margin-right: 24px;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__socials {
  opacity: 1;
}

.team__image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.team__socials {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  gap: 12px;
  opacity: 0;
  transition: all .3s ease-in;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.team__socials-link:hover {
  transition: 3s ease-in;
}

.team__socials-link path {
  fill: #fff;
  opacity: 0.6;
}

.team__socials-link:hover path {
  opacity: 1;
}

.team__info {
  margin-top: 16px;
  text-align: center;
}

.team__info-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.team__info-job {
  font-weight: 400;
  line-height: 160%;
  color: var(--gray--700);
}

.team__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  gap: 20px;
}

.team__dots button {
  font-size: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.team__dots button::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--gray--500);
  border-radius: 50px;
  transition: all .3s;
}

.team__dots .slick-active button::before {
  background-color: var(--gray--800);
}

/* ==================================================================== */
/* ==================================================================== */
/* TESTIMONIALS  */

.testimonials {
  background: url("../images/background-shapes/testi-bg.svg") calc(50% + 100px) calc(50% + 40px) no-repeat, var(--gray--200);
}

.testimonials__heading {
  text-align: center;
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 20px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  background-color: var(--white);
  padding: 64px;
  border-radius: 4px;
}

.testimonials__slide-inner {
  max-width: 810px;
  padding-left: 58px;
  margin: 0 auto;
}

.testimonials__quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  position: absolute;
  content: '';
  top: 0;
  left: -58px;
  height: 20px;
  width: 28px;
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info-name {
  font-weight: 700;
  line-height: 160%;
  color: var(--gray--900);
  padding-bottom: 4px;
}

.testimonials__info-position {
  color: var(--gray--700);
  font-size: 14px;
  line-height: 150%;
}

.testimonials__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 5;
  transition: all .3s;
}

.testimonials__arrow path {
  transition: all .3s;
}

.testimonials__arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--primary);
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.testimonials__arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__next::before {
  left: 74%;
}

.testimonials__prev {
  left: 0;
}

.testimonials__prev::before {
  left: 24%;
}

.testimonials__arrow:hover path {
  fill: var(--white);
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 12px;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--gray--500);
  border-radius: 3px;
  transition: all .3s;
}

.testimonials__dots .slick-active button::before {
  background-color: var(--gray--800);
}

/* =============================================================== */
/* =============================================================== */
/* COMPANIES */

.companies {
  background-color: var(--gray--200);
}

.companies__inner {
  position: relative;
}

.companies__inner::before {
  content: '';
  position: absolute;
  bottom: -110px;
  left: -270px;
  width: 90px;
  height: 90px;
  background: url("../images/background-shapes/shapes-5.svg");
}

.companies__heading {
  text-align: center;
  padding-bottom: 60px;
}

.companies__grid {
  display: grid;
  justify-content: center;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 100px;
}

.companies__grid-item {
  max-width: 130px;
  margin: 0 auto;
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  width: 120px;
  height: 64px;
  filter: contrast(0);
  opacity: .6;
  transition: all 1.3s;
}

.companies__grid-link:hover img {
  filter: contrast(1);
  opacity: 1;
  transition: all .3s;
}

/* ======================================================== */
/* ======================================================== */
/* COURSE PROGRAM */

.program__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__accordeon {
  max-width: 600px;
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  display: block;
  padding-left: 40px;
}

.program__acc-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray--900);
  position: relative;
}

.program__acc-title::before,
.program__acc-title::after {
  content: '';
  left: -40px;
  top: 50%;
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: var(--primary);
  border-radius: 4px;
}

.program__acc-title::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.program__acc-item--active .program__acc-title::after {
  transform: rotate(0deg);
}

.program__acc-title span {
  margin-right: 8px;
  font-weight: 400;
  color: var(--primary);
}

.program__acc-text {
  display: none;
  margin-top: 16px;
  line-height: 160%;
}

.program__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* ======================================================== */
/* ======================================================== */
/* BLOG */

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__row {
  display: flex;
  gap: 30px;
}

.blog__item {
  flex: 0 1 33.333%;
  transition: all .3s;
  min-width: 270px;
}

.blog__item:hover {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--shadow--small);
  transform: translateY(-4px);
  transition: .3s;
}

.blog__item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blog__item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog__item-link {
  height: 100%;
  transition: 1.3s;
}

.blog__item-link:hover .blog__item-button {
  color: var(--primary);
  transition: all .3s;
}

.blog__image-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.blog__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__image-box span {
  display: flex;
  gap: 4px;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 14px;
  line-height: 150%;
  padding: 1px 8px;
  background-color: var(--white);
  border-radius: 4px;
}

.blog__image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
}

.blog__item-info {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray--700);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 24px;
}

.blog__info-date,
.blog__info-category,
.blog__info-duration {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.blog__info-category::after,
.blog__info-date::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
  width: 1px;
  height: 12px;
  background-color: var(--gray--700);
  border-radius: 2px;
}

.blog__info-date::before {
  content: '';
  display: block;
  width: 15px;
  height: 16px;
  background: url("../images/icons/calendar-icon.svg") 0 0 / 100% no-repeat;
}

.blog__info-duration::before {
  content: '';
  display: block;
  width: 15px;
  height: 16px;
  background: url("../images/icons/clock-icon.svg") 0 0 / 100% no-repeat;
}

.blog__item-title,
.blog__item-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray--900);
}

.blog__item-title {
  margin-top: 8px;
}

.blog__item-text {
  line-height: 160%;
  color: var(--gray--800);
  padding: 8px 0 16px;
}

.blog__item-button {
  font-size: 16px;
  position: relative;
  transition: all 1.3s;
  margin-top: auto;
}

.blog__item-button::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url("../images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
}

.blog__item--podcast .blog__image-box span::before {
  background: url("../images/icons/mic-icon.svg") 0 0 / 100% no-repeat;
}

.blog__item--video .blog__image-box span::before {
  background: url("../images/icons/play-icon.svg") 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before {
  background: url("../images/icons/article-icon.svg") 0 0 / 100% no-repeat;
}

.blog__item--article .blog__info-date::after {
  content: none;
}

/* ================================================================ */
/* ================================================================  */
/* CONTACT INFO*/

.info {}

.info__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.info__heading {
  margin-bottom: 40px;
}

.info__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 50px;
}

.info__contacts-item {
  padding-left: 36px;
  line-height: 150%;
}

.info__item-top {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray--700);
  position: relative;
}

.info__item-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__item-link {
  font-size: 18px;
  color: var(--gray--900);
}

.info__item-link:hover {
  color: var(--primary);
  transition: .3s;
}

.info__mail .info__item-top::before {
  background: url('../images/icons/talk-icon.svg') 0 0 / 100% no-repeat;
}

.info__phone .info__item-top::before {
  background: url('../images/icons/phone-icon.svg') 0 0 / 100% no-repeat;
}

.info__address .info__item-top::before {
  background: url('../images/icons/pin-icon.svg') 0 0 / 100% no-repeat;
}

.info__follow-head {
  font-weight: 700;
  line-height: 150%;
  color: var(--gray--900);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info__socials {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

.info__socials-link {
  transition: all .3s;
}

.info__socials-link>svg path {
  fill: var(--gray--700);
}

.info__socials-link:hover>svg path {
  fill: var(--gray--900);
  transition: all .3s;
}

.info__map {
  height: 412px;
  width: 100%;
  max-width: 700px;
  box-shadow: var(--shadow--small);
  border-radius: 4px;
  overflow: hidden;
}

/* ================================================================ */
/* ================================================================  */
/* CONTACT FORM */
.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.questions__img {
  min-width: 350px;
}

.questions__img img {
  width: 100%;
  height: 100%;
}

.questions__heading {
  margin-bottom: 40px;
}

.questions__form-row {
  display: flex;
  margin-bottom: 24px;
  gap: 25px;
}

.questions__form-label {
  flex: 1 1 auto;
  line-height: 160%;
}

.questions__text-label {
  display: block;
  margin-bottom: 50px;
}

.questions__form-input,
.questions__form-text {
  display: block;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.questions__form-input::placeholder,
.questions__form-text::placeholder,
.questions__form-checkbox {
  color: var(--gray--600);
}

.questions__form-text {
  resize: none;
  height: 128px;
}

.questions__checkbox-label {
  display: flex;
  margin-right: 25px;
  gap: 15px;
  color: var(--gray--800);
  line-height: 160%;
  width: 100%;
}

.questions__form-checkbox {
  position: relative;
  margin: 5px 0 0 1px;
  height: 16px;
  width: 16px;
  flex: 0 0 auto;
}

.questions__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.questions__form-default:checked+.questions__form-custom {
  background: url("../images/icons/check-icon.svg") 50% 50% no-repeat, var(--primary);
  border: 1px solid var(--primary);
}

.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--gray--700);
  border-radius: 3px;
  cursor: pointer;
}

.questions__form-btn {
  font-size: inherit;
  width: 100%;
  align-self: center;
}

/* ================================================================ */
/* ================================================================  */
/* FOOTER */

.footer {
  background-color: var(--gray--900);
  color: rgb(255, 255, 255, .6);
}

.footer__top {
  padding: 80px 0 60px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__top-col {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.footer__top-col:first-child,
.footer__top-col:last-child {
  max-width: 310px;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
  margin: 0;
}

.footer__logo {
  display: block;
  margin-bottom: 25px;
}

.footer__top-text {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 38px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__socials-link svg path {
  fill: #A5A6AB;
}

.footer__socials-link:hover svg path {
  fill: var(--white);
  transition: .3s;
}

.footer__top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 12px;
  white-space: nowrap;
  pointer-events: none;
}

.footer__top-list {
  display: flex;
  flex-direction: column;
  line-height: 160%;
  gap: 8px;
}

.footer__item-link {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  transition: all .3s;
}

.footer__item-link:hover {
  color: var(--white);
}

.footer__item-link svg {
  width: 16px;
  height: 16px;
}

.footer__form-items {
  background-color: #393C46;
  border: 1px solid #61636B;
  border-radius: 4px;
  margin: 12px 0;
  display: flex;
  padding-left: 12px;
  max-width: 315px;
}

.footer__form-input {
  width: 100%;
  line-height: 150%;
  font-size: 12px;
  position: relative;
  color: #fff;
  background-color: transparent;
}

.footer__form-btn {
  background-color: transparent;
  padding: 10px 12px;
}

.footer__form-btn:hover::after {
  transform: scale(1.1);
}

.footer__form-btn::after {
  content: '';
  display: block;
  background: url("../images/icons/arrow-right-mini.svg");
  width: 16px;
  height: 16px;
  transition: all .3s;
}

.footer__form-input::placeholder {
  color: #B0B1B5;
}

.footer__form-desc {
  font-size: 10px;
  line-height: 150%;
  color: var(--white);
}

.footer__bottom {
  background-color: rgb(255, 255, 255, .06);
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: var(--white);
  line-height: 150%;
  font-size: 12px;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.footer__botton-icon {
  display: inline-block;
  margin: 0 4px;
  width: 16px;
  height: 16px;
  background: url("../images/icons/heart-icon.svg") 0 0 / 100% 100% no-repeat;
}

.footer__go-top {
  font-size: 14px;
  color: #A9ABAF;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s;
}

.footer__go-top:hover {
  color: var(--white);
}

/* ================================================================ */
/* ================================================================  */
/* MEDIA 1200 */

@media (max-width: 1200px) {

  .header__title {
    font-size: 52px;
    max-width: 376px;
  }

  /* ----------------------------------------------- */

  .companies__grid {
    grid-template: repeat(3, auto) / repeat(5, 1fr);
    gap: 30px 80px;
  }

}

/* ================================================================ */
/* ================================================================  */
/* MEDIA 1100 */

@media (max-width: 1100px) {
  .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    z-index: 150;
    transition: all .5s ease-in-out;
  }

  .burger--follow {
    box-shadow: var(--shadow--regular);
    background-color: var(--white);
  }

  .burger span,
  .burger span::before,
  .burger span::after {
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: var(--gray--800);
    transition: all .5s ease-in-out;
  }

  .burger span::before,
  .burger span::after {
    position: absolute;
    content: '';
  }

  .burger span::before {
    transform: translateY(-8px);
  }

  .burger span::after {
    transform: translateY(8px);
  }

  .burger.open span {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .burger.open span::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .burger.open span::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray--900);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
  }

  .header {
    padding-top: 92px;
  }

  .header__top * {
    margin: 0;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(0);
  }

  .header__top-inner {
    padding: 100px 0;
  }

  .header__top-inner {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap: 40px;
  }

  .header__nav-list {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .header__btn-box {
    flex-direction: column-reverse;
    gap: 30px;
  }


  .header__img,
  .about__img {
    max-width: 400px;
  }

  .heading {
    margin-bottom: 50px;
    padding: 0;
  }

  .heading__title {
    font-size: 37px;
  }

  /* ------------------------------------------------------------- */

  .certificate__inner {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .certificate__image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 600px;
  }

  /* ------------------------------------------------------------- */
  .program__image {
    max-width: 400px;
  }

  /* ------------------------------------------------------------- */

  .footer__top {
    padding: 60px 0;
  }

  .footer__top-inner {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 30px;
  }

  .footer__top-text {
    display: none;
  }

}

/* ================================================================ */
/* ================================================================  */
/* MEDIA 900 */

@media (max-width: 900px) {

  .header__content {
    margin: 0 0 0 60px;
  }

  .header__img {
    display: none;
  }

  .header__stats {
    display: none;
  }

  /* ------------------------------------------ */

  .about__createx,
  .about__btn-box {
    justify-content: center;
  }

  .about__heading {
    text-align: center;
  }

  .about__img {
    display: none;
  }

  /* ------------------------------------------- */
  .directions__button-box {
    margin-bottom: 30px;
    gap: 20px 10px;
  }

  .directions__list {
    gap: 10px;
  }

  .directions__link-content {
    padding: 15px;
  }

  .certificate__content {
    max-width: 100%;
    text-align: center;
  }

  /* ----------------------------------------------- */

  .companies__grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    gap: 30px 60px;
  }

  /* ----------------------------------------------- */

  .program__inner {
    gap: 0;
    justify-content: center;
  }

  .program__heading {
    text-align: center;
  }

  .program__image img {
    display: none;
  }

  /* ----------------------------------------------- */
  .blog__top {
    max-width: 650px;
    margin: 0 auto 30px;
  }

  .blog__row {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .blog__item {
    max-width: 650px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .blog__image-box {
    display: flex;
    justify-content: center;
  }

  .blog__image-box img {
    width: auto;
  }

  .blog__item--podcast .blog__image-box {
    background-color: #a3d0f7;
  }

  .blog__item--video .blog__image-box {
    background-color: #caf0e3;
  }

  .blog__item--article .blog__image-box {
    background-color: #fff8aa;
  }

  .blog__heading {
    margin: 0;
  }

  .blog__item-title {
    font-size: 18px;
  }

  .blog__item-text {
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 10px;
  }

  /* ------------------------------------------------------- */
  .info__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .info__map {
    height: 200px;
    max-width: none;
  }

  /* --------------------------------------------------------- */
  .questions__inner {
    flex-direction: column;
  }

  .questions__img {
    display: none;
  }

  /* ----------------------------------------------------------- */
  .footer__top-col:last-child {
    flex-basis: 100%;
    max-width: none;
  }
}

/* ================================================================  */
/* ================================================================  */
/* MEDIA 700px */
@media (max-width: 700px) {

  .heading {
    margin-bottom: 30px;
  }

  /* ---------------------------------------------- */
  .about__createx {
    margin-bottom: 80px;
  }

  .about__values {
    flex-direction: column;
    gap: 30px;
  }

  .about__image-box {
    display: none;
  }

  .about__numbers {
    align-self: flex-start;
  }

  /* ---------------------------------------------- */
  .directions__list {
    grid-template: repeat(2, auto) / 1fr 1fr;
  }

  /* ------------------------------------------------ */

  .certificate__heading {
    text-align: center;
  }

  /* ------------------------------------------------ */
  .testimonials__slider-wrapper {
    padding: 0;
    margin-bottom: 0px;
  }

  .testimonials__slide {
    padding: 30px 15px;
  }

  .testimonials__arrow {
    display: none;
  }

  .testimonials__slide-inner {
    padding-left: 40px;
  }

  .testimonials__quote {
    font-size: inherit;
  }

  .testimonials__quote::before {
    height: 20px;
    width: 25px;
    left: -40px;
  }

  /* ----------------------------------------------- */

  .companies__grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
    gap: 20px 40px;
  }

  /* ----------------------------------------------- */

  .blog__heading {
    margin-bottom: 0;
  }

}

/* ================================================================  */
/* ================================================================  */
/* MEDIA 550px */
@media (max-width: 550px) {

  .main__about {
    padding: 70px 0;
  }

  .main__directions {
    padding-bottom: 90px;
  }

  .main__team {
    padding: 120px 0 0;
  }

  .main__testimonials {
    padding: 100px 0;
  }

  .main__companies {
    padding-bottom: 0;
  }

  .main__program,
  .main__blog,
  .main__info {
    padding-bottom: 100px;
  }

  .main__questions {
    padding-bottom: 60px;
  }

  .footer__top {
    padding: 40px 0;
  }

  /* -------------------------------------- */
  .header__content {
    margin: 0;
  }
  /* -------------------------------------- */
  .questions__form-row {
    flex-direction: column;
    margin-bottom: 15px;
    gap: 15px;
  }

  .questions__text-label {
    margin-bottom: 20px;
  }

}

/* ================================================================  */
/* ================================================================  */
/* MEDIA 475px */
@media (max-width: 475px) {

  .header__title {
    max-width: none;
    font-size: 40px;
  }

  .header__content-buttons {
    flex-direction: column-reverse;
    width: 100%;
  }

  .heading__title {
    font-size: 25px;
  }

  .heading__subtitle {
    font-size: 14px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about__paragraph--lead {
    font-size: inherit;
    margin-bottom: 10px;
  }

  .about__btn-box {
    flex-direction: column-reverse;
  }

  /* ---------------------------------------------- */
  .directions__list {
    grid-template: none;
  }

  .directions__list-item--empty {
    display: none;
  }

  /* ---------------------------------------------- */
  .team__slider-arrows {
    display: none;
  }

  /* ---------------------------------------------- */
  .companies__grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
    gap: 10px 20px;
  }

  /* ---------------------------------------------- */

  .program__acc-item {
    margin-bottom: 10px;
  }

  .program__acc-link {
    padding-left: 32px;
  }

  .program__acc-title {
    font-size: 16px;
  }

  .program__acc-title::before, .program__acc-title::after {
    left: -32px;
  }

  .program__acc-text {
    margin-top: 10px;
  }

  /* ---------------------------------------------- */

  .questions__form-label,
  .questions__text-label,
  .questions__checkbox-label {
    font-size: 14px;
  }

  /* --------------------------------------------------- */
  .footer__top-inner {
    flex-direction: column;
    gap: 15px;
  }

  .footer__top-list {
    display: none;
  }

  .footer__top-title {
    pointer-events: auto;
  }

  .footer__bottom-inner {
    padding: 10px 0;
    justify-content: center;
  }

  .footer__go-top {
    display: none;
  }
}

/* ================================================================  */
/* ================================================================  */
/* MEDIA 375px */

@media (max-width: 375px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  /* ------------------------------------------ */
  .certificate__logos {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ------------------------------------------ */
  .blog__image-box img {
    width: 100%;
  }

  /* ------------------------------------------ */
  .info__socials {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
}